body {
    background-image: url("https://cdn.pixabay.com/photo/2016/09/08/12/00/starry-sky-1654074_960_720.jpg");
    font-family: cursive; 
    background-size: 1375px 675px; }
    img { filter: blur(7px); }

  
  
  .menu {
    background-color: whitesmoke;
  }
  
  .menu ul {
   display: flex;
    justify-content: space-around;
  }
  
  .menu li {
   list-style: none; 
  }
  
  a {
    color: teal;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  .site-subtitle, 
  .site-title {
    color: white;
    text-align: center;
  }
  
  .site-subtitle {
   font-style: italic;
  }